Source: 9wm
Section: x11
Priority: optional
Maintainer: Jacob Adams <tookmund@gmail.com>
Build-Depends:
 debhelper (>= 9.0),
 libx11-dev,
 libxext-dev,
 x11proto-core-dev
Standards-Version: 3.9.6
Homepage: https://woozle.org/neale/g.cgi/x11/9wm/
Vcs-Git: https://github.com/Tookmund/9wm
Vcs-Browser: https://github.com/Tookmund/9wm

Package: 9wm
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Provides:
 x-window-manager
Suggests:
 9menu
Description:  9wm is an X window manager which attempts to emulate the Plan 9 
window manager 8-1/2 as far as possible within the constraints imposed by X.
.
It provides a simple yet comfortable user interface, without garish decorations
or title-bars. Or icons. And it's click-to-type. 
